---
layout: default
---

<header class="c-header">
  <div class="l-wrapper">
    <h1>Accessibility Guidelines</h1>
  </div>
</header>

<nav class="c-nav c-nav--sticky">
  <ul class="c-nav__items">
    {% for post in site.categories.docs %}
      <li class="c-nav__item"><a href="#{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</nav>

<section class="l-wrapper c-guidelines">
  {% for post in site.categories.docs %}
    <section class="l-segment" id="{{ post.title }}">
      <h2>{{ post.title }}</h2>
      <div>
        {{ post.content }}
      </div>
    </section>
  {% endfor %}
</section>

<header class="c-header">
  <div class="l-wrapper">
    <h1>Why it matter</h1>
  </div>
</header>

<section class="l-wrapper">
  <div class="l-segment">
    {% for post in site.categories.why %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>

<header class="c-header">
  <div class="l-wrapper">
    <h1>Process</h1>
  </div>
</header>

<section class="l-wrapper">
  <div class="l-segment">
    {% for post in site.categories.process %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>

