---
layout: default
---

<header class="c-header">
  <div class="l-wrapper">
    <h1>Accessibility Guidelines</h1>
    <p><strong>Check</strong> the boxes of the guidelines that apply to your project<br>
    <strong>Copy</strong> the checklist to your clipboard<br>
    <strong>Paste</strong> the checklist into a document, Slack, Trello—however your team organizes projects.</p>
  </div>
</header>

<nav class="c-nav c-nav--sticky">
  <ul class="c-nav__items">
    <li class="c-nav__item"><a href="#designer">Designer</a></li>
    <li class="c-nav__item"><a href="#engineer">Engineer</a></li>
    <li class="c-nav__item"><a href="#pm">Project Manager</a></li>
    <li class="c-nav__item"><a href="#qa">QA</a></li>
    <li class="c-nav__item"><a href="#editorial">Editorial</a></li>
  </ul>
</nav>

<section class="l-wrapper c-guidelines">
  {% include designer.html %}

  {% include engineers.html %}

  {% include pm.html %}

  {% include qa.html %}

  {% include editorial.html %}

  {% include output.html %}
</section>

<header class="c-header">
  <div class="l-wrapper">
    <h1>Our Philosophy</h1>
    <p>As journalists, advertisers, producers, and creators, content is at our core at Vox Media. And we want to ensure that everyone—regardless of ability, situation, or context—can access it.</p>
    <p>This idea inspired us to outline a few guiding principles to help us convey our philosophy on accessibility. We hope these principles can help continue the conversation on why accessibility matters and encourage us to put what we preach into practice.</p>
  </div>
</header>

<section class="l-wrapper">
  <div class="l-segment">
    {% for post in site.categories.why %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>

<header class="c-header">
  <div class="l-wrapper">
    <h1>Our Process</h1>
    <p>tk tk tk</p>
  </div>
</header>

<section class="l-wrapper">
  <div class="l-segment">
    {% for post in site.categories.process %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>

