<div class="l-segment" id="designer">

  <h2>Designers</h2>

  <h3>Color and Type</h3>

  <ul>
    <li>
      <label>
      <input type="checkbox"><b></b>
        Make sure there is enough contrast between text and its background color
      </label>

      <p>According to the WCAG, the contrast ratio between text and the text’s background should be at least 4.5 to 1. If your font is at least 24 px or 19 px bold, the minimum drops to 3 to 1 (though, worth noting that this is a little fuzzy because numbered sizes aren’t always reflective of the visual size type). Be especially careful of text over images.</p>
    </li>

    <li>
      <label>
        <input type="checkbox"><b></b>
        This guideline helps users with low vision, color blindness, or worsening vision see and read the text on your screen.
      </label>
    </li>

    <li>
      <label>
        <input type="checkbox"><b></b>
        Color should not be the only indicator or prompt for important information
      </label>
    </li>
  </ul>
</div>
