<div class="l-segment" id="editorial">
  <h2>Editorial</h2>
  <ul>

    <li>
      <label id="editorial-1">
        <input type="checkbox"><b></b>
        <p>Write good alt text for your images</p>
      </label>
      <p>Non-sighted users often make use of a talking browser to “read” the web. These specialized browsers convert text to speech so that a user can hear the words on a site. When a talking browser lands on an image, it looks for alt text that it can read aloud; if it finds none, it will often just say “image,” leaving the user in the dark as to what the image is and how it matters to the story.</p>
      <p>Describe all of the elements that explain what’s happening in the image, rather than just setting the alt text to be something like, “photograph”</p>
      <p>If you have to use an image of text, be sure to describe the design if relevant, as well as all of the words in the image. (Ex: Whiteboard drawing of the quote “This is a quote”)</p>
    </li>

    <li>
      <label id="editorial-2">
        <input type="checkbox"><b></b>
        <p>Editorial Engineers: think about how custom experiences can be made accessible</p>
      </label>
      <p>For instance, SVGs are often used as icons on interactive elements in sites. When this is the case, the SVG should have a title or embedded text (that is visually hidden but available to assistive tech) to ensure that the information of the icon is available programmatically.</p>
      <p>Sometimes you don’t have time or resources to make certain components into accessible experiences. In those cases, consider creating an additional screen reader-friendly experience, or at the very least, describe the experience to users in alt text.</p>
    </li>

    <li>
      <label id="editorial-3">
        <input type="checkbox"><b></b>
        <p>Be as consistent and clear as possible</p>
      </label>
      <p>Be clear in copy</p>
      <p>Avoid jargon and idioms</p>
      <p>Use section headings to organize content.</p>
      <p>Source: <a href="http://code.viget.com/interactive-wcag/#responsibility=content&level=aaa">Interactive WCAG 2.0</a></p>
    </li>

    <li>
      <label id="editorial-4">
        <input type="checkbox"><b></b>
        <p>Links should be descriptive</p>
      </label>
      <p>Assistive technology is able to find all links on a page and present them in various forms, but these links are rather useless if it’s a long list of links that are just the text “click here.” A better way is to have the link describe where the user will go if they click it, giving them an idea of what’s on the other side of clicking.</p>
      <p>Source: <a href="https://www.smashingmagazine.com/2012/06/links-should-never-say-click-here/">Why Your Links Should Never Say “Click Here”</a></p>
    </li>

    <li>
      <label id="editorial-5">
        <input type="checkbox"><b></b>
        <p>Important information should not be conveyed through images, color, or sensory characteristics alone</p>
      </label>
      <p>You should not rely solely on images, shape, size, visual location, orientation, or sound to indicate important instructions for operating or understanding content (ex. “See the image above”). Instead, use a combination of positioning, color, and labeling to identify content.</p>
      <p>There should be another indicator (such as icons to accompany color coding, or an underline on linked text) so that people who cannot easily distinguish colors will be able to understand and use your content.</p>
      <p>Source: <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/content-structure-separation-understanding.html">Sensory Characteristics</a></p>
    </li>
  </ul>
</div>
