<footer class="c-footer">
  <div class="l-wrapper">
    <p>Accessbility checklist by <a href="http://product.voxmedia.com/">Vox Product</a><br>
    Contact us: <a href="mailto:support@voxmedia.com">support@voxmedia.com</a></p>
    <p>Resources: <a href="http://webaim.org/">WebAIM</a>, <a href="https://www.w3.org/TR/WCAG20/">W3C</a>, <a href="http://code.viget.com/interactive-wcag/#responsibility=&level=aa">Viget's Interactive WCAG 2.0</a>
  </div>
</footer>

<script type="text/javascript" src="{{ "/js/list-builder.js" | prepend: site.baseurl }}"></script>
