<div class="l-segment">
  <h2 class="c-guidelines__output-label" for="output">Output Type</h2>
  <label><input type="radio" name="output_type" value="markdown" checked>Markdown</label>
  <label><input type="radio" name="output_type" value="plaintext">Plain Text</label>
  <label><input type="radio" name="output_type" value="github">Github Markdown</label>
  <textarea readonly class="preview-box" id="preview_box"></textarea>
  <button type="button" class="c-guidelines__copy" data-clipboard-target="#preview_box">Copy to clipboard</button>
</div>
