<div class="l-segment" id="preview-output">
  <p><strong>kelsey and sanette please write stuff here ok</strong></p>
  <textarea readonly class="preview-box" id="preview_box"></textarea>
  <div class="c-guidelines__options">
    <label><input type="radio" name="output_type" value="markdown" checked>Markdown</label>
    <label><input type="radio" name="output_type" value="plaintext">Plain Text</label>
    <label><input type="radio" name="output_type" value="github">Github Markdown</label>
  </div>
  <button type="button" class="c-guidelines__copy" data-clipboard-target="#preview_box">Copy to clipboard</button>
</div>
