<div class="l-segment" id="preview-output">
  <p><strong>Every guideline that you check in the sections above will appear in this preview box. Copy the checklist to your clipboard and paste it into a format that you can share with your team.</strong></p>
  <textarea readonly class="preview-box" id="preview_box"></textarea>
  <div class="c-guidelines__options">
    <label><input type="radio" name="output_type" value="markdown" checked>Markdown</label>
    <label><input type="radio" name="output_type" value="plaintext">Plain Text</label>
    <label><input type="radio" name="output_type" value="github">Github Markdown</label>
  </div>
  <button type="button" class="c-guidelines__copy" data-clipboard-target="#preview_box">Copy to clipboard</button>
</div>
