<div class="l-segment" id="pm">

  <h2>Project Managers</h2>
  <ul>
    <li>
      <label id="project-managers-1">
        <input type="checkbox"><b></b>
        <p>Familiarize yourself with the work associated with making content accessible</p>
      </label>
      <p>We have guidelines for <a href='#designers'>design</a>, <a href="#engineers">engineering</a>, and <a href="#qa">QA</a> testing. Read through the requirements, and be aware of the checks and standards that QA will be looking out for in your products.</p>
    </li>

    <li>
      <label id="project-managers-2">
        <input type="checkbox"><b></b>
        <p>Build in time for accessibility during project planning and sprint planning</p>
      </label>
      <p>Accessibility is not a checklist item that only needs to be considered in some projects, or at the end of a process. These practices should be woven into every step of a project and role in a team. Make sure you are accounting for that while planning projects and sprints.</p>
    </li>
    <li>
      <label id="project-managers-3">
      <input type="checkbox"><b></b>
      <p>When sharing good work done by your team, praise efforts to increase accessibility</p>
      </label>
      <p>We all like to hear our work recognized. In addition to celebrating beautiful designs, elegant code, fast turnarounds, stellar experiences—draw attention to and praise the work done by your team to make content more accessible. Talk up high contrast, a smart keyboard navigation system, or clear copy and hierarchy.</p>
    </li>
    <li>
      <label id="project-managers-4">
        <input type="checkbox"><b></b>
        <p>The tools and products that you create should make accessibility easier to achieve</p>
      </label>
      <p>Accessibility should be at the forefront of your mind when considering which projects to take on and how to shape the products. Whatever you create should support accessibility efforts, and not hinder them. For instance, if your team creates a publishing tool that allows users to upload images, and the tool does not allow for alternate text descriptions, you have made it impossible for your users to produce accessible images for non-sighted people.</p>
    </li>
    <li>
      <label id="project-managers-5">
        <input type="checkbox"><b></b>
        <p>Be an advocate for accessibility</p>
      </label>
      <p>Explain to your team and stakeholders why accessibility is important and should be a priority in every piece of work your team takes on. It makes our products—and our teams—better.</p>
    </li>
  </ul>
</div>
