<div class="l-segment" id="qa">

  <h2>Quality Assurance</h2>
  <ul>
    <li>
      <label id="qa-1">
        <input type="checkbox"><b></b>
        <p>Run through each page with the WAVE Chrome Extension.</p>
      </label>
      <p>This tool is not perfect, however, will provide a good basis for accessibility errors.</p>
    </li>

    <li>
      <label id="qa-2">
        <input type="checkbox"><b></b>
        <p>Users should be able to navigate through content using their keyboard.</p>
      </label>
      <p>Remeber to look out for: Accessing navigation and drop down menus, users should be able to tab through an entire page and not get trapped in any elements, this is a common issue for modals, focus states on selectable elements -- links, buttons, etc.</p>
    </li>

    <li>
      <label id="qa-3">
        <input type="checkbox"><b></b>
        <p>Users should be able to navigate content using a screen reader.</p>
      </label>
      <p>Apple’s built in Voice Over works well for this, and includes a built in tutorial on how to use it.</p>
    </li>

    <li>
      <label id="qa-4">
        <input type="checkbox"><b></b>
        <p>The general architecture and hierarchy of the content should make sense.</p>
      </label>
      <p>Headers should exist, clickable elements should be clearly indicated, and the user should be able to navigate through. If you are viewing content with poor lighting or from a few feet away, text should be readable. If you could foresee users having trouble seeing or comprehending content, that’s a sound indicator that something is off.</p>
    </li>

    <li>
      <label id="qa-5">
        <input type="checkbox"><b></b>
        <p>Charts and images should all have alt-text so that users with screen readers or users on a slow connection will still be able to understand the images.</p>
      </label>
    </li>

    <li>
      <label id="qa-6">
        <input type="checkbox"><b></b>
        <p>Decorative images should not be visible to screen readers.</p>
      </label>
    </li>
  </ul>
</div>
