<div class="l-segment" id="designers">
  <h2>Tools</h2>

    <ul>

    <li>
      <label id="editorial-1">
        <input type="checkbox" checked><b></b>
        <p>Use these tools to help make your work accessible </p>
      </label>
    	<p><a href="http://code.viget.com/interactive-wcag/#responsibility=design&level=aa">WCAG 2.0 guidelines</a> to review best practices</p>
		<p><a href="https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh?hl=en-US">WAVE (Web Accessibility Evaluation Tool) Chrome Extension</a> to check accessibility across your products</p>
		<p><a href="https://www.paciellogroup.com/resources/contrastanalyser/">Color Contrast Analyzer App</a> to analyze color contrast</p>
		<p><a href="http://colorsafe.co/">Color Safe</a> to make accessible color palettes</p>
		<p><a href="http://colororacle.org/index.html">Color Oracle</a> to simulate color blindness</p>
		<p><a href="https://michelf.ca/projects/sim-daltonism/">Sim Daltonism</a> to simulate color blindness</p>


      </p>
    </li>

    </ul>




</div>