<div class="l-segment" id="tools">
  <h2>Tools</h2>
  <ul>
    <li>
      <label id="tools-1">
        <input type="checkbox" checked data-include-links="#tool-links"><b></b>
        <p>Use these tools to help make your work accessible </p>
      </label>
      <div id="tool-links">
      	<p><a href="http://code.viget.com/interactive-wcag/#responsibility=design&level=aa">WCAG 2.0 guidelines to review best practices</a></p>
  		  <p><a href="https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh?hl=en-US">WAVE (Web Accessibility Evaluation Tool) Chrome Extension to check accessibility across your products</a></p>
  		  <p><a href="https://www.paciellogroup.com/resources/contrastanalyser/">Color Contrast Analyzer App to analyze color contrast</a></p>
        <p><a href="https://accessibility.oit.ncsu.edu/tools/color-contrast/">Color Palette Accessibility Checker to automatically check color combinations for passing contrast.</a></p>
        <p><a href="https://accessibility.oit.ncsu.edu/tools/color-extractor/">Color Extractor bookmarklet to find all colors in CSS and load them in the Color Palette Accessibility Checker</a></p>
  		  <p><a href="http://colorsafe.co/">Color Safe to make accessible color palettes</a></p>
  		  <p><a href="http://colororacle.org/index.html">Color Oracle to simulate color blindness</a></p>
  		  <p><a href="https://michelf.ca/projects/sim-daltonism/">Sim Daltonism to simulate color blindness</a></p>
      </div>
    </li>
  </ul>
</div>
