body {
  color: $color-body;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  @media(min-width: $break-medium-small) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headline;
  font-weight: 700;
  margin-bottom: .5em;
}

h1 {
  font-size: 2.25em;
  text-align: center;
  @media(min-width: $break-medium-small) {
    font-size: 3.375em;
  }
}

h2 {
  font-size: 1.5em;
  @media(min-width: $break-medium-small) {
    font-size: 2.25em;
  }
}

h3 {
  font-family: $font-body;
  font-size: 1em;
  margin: .8em 0;
}

a {
  border: 1px solid transparent;
  border-bottom: 1px solid $color-medium-gray;
  color: $color-link;
  outline: none;
  padding: .1em;
  text-decoration: none;
  transition: all 200ms;
  font-weight: 800;
  &:hover {
    color: $color-link-hover;
  }
  &:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

button {
  -webkit-appearance: none;
  background-color: $color-link;
  border: 0;
  color: #fff;
  cursor: pointer;
  letter-spacing: .5px;
  padding: 10px;
  text-transform: uppercase;
  &:hover {
    background-color: $color-link-hover;
  }
}

p {
  line-height: 1.5;
  margin-bottom: .5em;
}

li {
  position: relative;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}