@import 'https://fonts.googleapis.com/css?family=Lora:700|Open+Sans:300,700';

// Colors
$color-body: #292929;
$color-link: #4d7f38;
$color-link-hover: darken($color-link, 20%);

$color-link-light: lighten($color-link, 20%);
$color-link-light-hover: darken($color-link-light, 10%);

// Fonts
$font-body: 'Open Sans', Helvetica, sans-serif;
$font-headline: 'Lora', Georgia, serif;

// layout
$page-width: 900px;

// Break points
$break-small: 400px;
$break-medium-small: 600px;
$break-medium: 728px;
$break-large-medium: 880px;
$break-large: 950px;
$break-xlarge-large: 1080px;
