@import 'https://fonts.googleapis.com/css?family=Lora:700|Open+Sans:300,700';

// Colors
$color-dark-green: #4B7C36;
$color-light-green: #62A146;
$color-dark-gray: #292929;
$color-medium-gray: #555555;
$color-light-gray: #f5f5f5;

$color-body: $color-dark-gray;
$color-link: $color-dark-green;
$color-link-hover: darken($color-link, 20%);

$color-link-light: $color-light-green;
$color-link-light-hover: darken($color-light-green, 10%);

// Fonts
$font-body: 'Open Sans', Helvetica, sans-serif;
$font-headline: 'Lora', Georgia, serif;

// layout
$page-width: 900px;
$content-width: 750px;

// Break points
$break-small: 400px;
$break-medium-small: 600px;
$break-medium: 728px;
$break-large-medium: 880px;
$break-large: 950px;
$break-xlarge-large: 1080px;
