.c-header {
  background: $color-light-gray;
  padding: 2em 0;
  h1 {
    color: $color-dark-green;
  }
  @media(min-width: $break-medium-small) {
    padding: 3em 0;
  }

   p {
  	font-size: 1.15em;
  }
}
