.c-nav {
  background-color: lighten($color-light-green, 35%);
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 10000;
  line-height: 0;
  @media(max-width: $break-medium) {
    position: relative;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    @media(max-width: $break-medium) {
      position: relative;
    }
  }

  a {
    border-color: transparent;
    color: $color-body;
    display: block;
    overflow: hidden;
    padding: 1.5em .8em;
    position: relative;
    font-weight: 300;
    &:before {
      background-color: lighten($color-light-green, 45%);
      bottom: -100%;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      transition: 200ms bottom;
      width: 100%;
      z-index: -1;
    }
    &:hover {
      color: $color-body;
      &:before {
        bottom: 0;
        transition: 200ms bottom;
      }
    }
  }

  &__item {
    display: inline-block;
    margin-bottom: 0;
    @media(max-width: $break-medium) {
      border-bottom: 1px solid lighten($color-light-green, 20%);
      display: block;
    }
  }
}
