.c-nav {
  background-color: $color-body;
  letter-spacing: 1px;
  margin-bottom: 1em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 10000;

  &.is-fixed {
    position: fixed;
    top: 0;
  }

  a {
    padding: 1em .8em;
    display: inline-block;
    color: $color-link-light;
    border-color: transparent;
    overflow: hidden;
    &:before {
      background-color: $color-link;
      bottom: -100%;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      transition: 200ms bottom;
      width: 100%;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        bottom: 0;
        transition: 200ms bottom;
      }
    }
  }
  &__items {
    overflow: hidden;
  }

  &__item {
    display: inline-block;
  }
}
